@charset "utf-8";
html {
	background-color: #004000;
	height: 100%;
	padding: 0;
}

body {
	font-family: "Comic Sans MS", cursive;
	font-size: 18px;
	color: #004000;
	background-color: #CF6;
	text-align: center;
	height: 100%;
	margin: 0 10em;
	padding: 2em;
}

h2 {
	margin:0;
}

table {
	margin:1em auto;
	text-align: left;
}
